{% extends "nav.html" %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Base</h1>
</div>
<form class="form-inline mb-4">
    <label class="mr-2">Produit : </label>
    <select name="produit" class="custom-select mr-4" id="basisProductSelector">
        {% for produit in productPhysique if produit != 'Ble dur' %}
            <option value='{{ produit }}' >{{ produit }}</option>
        {% endfor %}
    </select>
    <label class="mr-2">Place : </label>
    <select name="place" class="custom-select mr-4" id ="basisPlaceSelector">
        {% for place in dfPhysique[dfPhysique['Produit'] == productPhysique[0]]['Place'].unique() %}
        <option value="{{ place }}">{{ place }}</option>
        {% endfor %}
    </select>
    <label class="mr-2">Contrat : </label>
    <select name="expiration" class="custom-select mr-4" id="basisContractSelector">
        
        {% for ex in expi[productPhysique[0]] %}
        <option value="{{ ex }}">{{ ex }}</option>
        {% endfor %}
    </select>

    <label class="mr-2" for="checkbox">Show expired : </label>
    <input type="checkbox" id="expiredCheckbox" name="checkbox">
</form>             

<div id="myChartBase"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // Get the select element
        let dataPlace = JSON.parse('{{ prod | tojson }}');
        let dataExpi = JSON.parse('{{ expi | tojson }}');
        let dataExpiAll = JSON.parse('{{ expiAll | tojson }}');
        var selectElement = document.getElementById("basisProductSelector");
        var outputPlace = document.getElementById("basisPlaceSelector");
        var outputExpi = document.getElementById("basisContractSelector");
        var expired = document.getElementById("expiredCheckbox")
        selectElement.addEventListener("change", function() {
            var selectedValue = selectElement.value;
            outputPlace.innerHTML = "";
            outputExpi.innerHTML = "";
            switch(selectedValue) {
                case "Mais":
                    addOptions(dataPlace['Mais'], outputPlace);
                    addOptions(dataExpi['Mais'], outputExpi);
                    break;
                case "Ble tendre":
                    addOptions(dataPlace['Ble tendre'], outputPlace);
                    addOptions(dataExpi['Ble tendre'], outputExpi);
                    break;
                case "Colza":
                    addOptions(dataPlace['Colza'], outputPlace);
                    addOptions(dataExpi['Colza'], outputExpi);
                    break;
                default:
                    outputPlace.innerHTML = "Default content";
                    outputExpi.innerHTML = "Default content";
            }
        });
        expired.addEventListener("change", function() {
            if (expired.checked){
                var selectedValue = selectElement.value;
                outputExpi.innerHTML = "";
                switch(selectedValue) {
                    case "Mais":
                        addOptions(dataExpiAll['Mais'], outputExpi);
                        break;
                    case "Ble tendre":
                        addOptions(dataExpiAll['Ble tendre'], outputExpi);
                        break;
                    case "Colza":
                        addOptions(dataExpiAll['Colza'], outputExpi);
                        break;
                    default:
                        outputPlace.innerHTML = "Default content";
                        outputExpi.innerHTML = "Default content";
                }
            }
            else {
                var selectedValue = selectElement.value;
                outputExpi.innerHTML = "";
                switch(selectedValue) {
                    case "Mais":
                        addOptions(dataExpi['Mais'], outputExpi);
                        break;
                    case "Ble tendre":
                        addOptions(dataExpi['Ble tendre'], outputExpi);
                        break;
                    case "Colza":
                        addOptions(dataExpi['Colza'], outputExpi);
                        break;
                    default:
                        outputPlace.innerHTML = "Default content";
                        outputExpi.innerHTML = "Default content";
                }
            }
        });
        function addOptions(options, outputDoc) {
            options.forEach(function(optionText) {
                var option = document.createElement("option");
                option.value = optionText;
                option.text = optionText;
                outputDoc.add(option);
            });
        }
    </script>

    <script>
        var produit = document.getElementById("basisProductSelector");
        var place = document.getElementById("basisPlaceSelector");
        var expiration = document.getElementById("basisContractSelector");
        var expired = document.getElementById("expiredCheckbox");
        document.addEventListener("DOMContentLoaded", function() {
            $.ajax({
                type: "POST",
                url: "/process_basis",
                data: JSON.stringify([{"Produit": produit.value}, {"Place": place.value}, {"Expiration": expiration.value}, {"Expired": expired.checked}]),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    Highcharts.stockChart('myChartBase', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Basis ' + produit.value + ' ' + place.value + ' ' + expiration.value
                    },
                    xAxis: {
                        title: {
                            text: 'Day'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Basis'
                        }
                    },
                    series: [{
                        name: 'Basis',
                        data: result
                    }],
                    credits: {
                        enabled: false
                    }
                    });
                }
            });

            produit.addEventListener("change", handleSelectChange);
            place.addEventListener("change", handleSelectChange);
            expiration.addEventListener("change", handleSelectChange);
            expired.addEventListener("change", handleSelectChange);
        });
        function handleSelectChange() {                
            $.ajax({
                type: "POST",
                url: "/process_basis",
                data: JSON.stringify([{"Produit": produit.value}, {"Place": place.value}, {"Expiration": expiration.value}, {"Expired": expired.checked}]),
                contentType: "application/json",
                dataType: 'json',
                success: function(result, data) {
                    Highcharts.stockChart('myChartBase', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Basis ' + produit.value + ' ' + place.value + ' ' + expiration.value
                    },
                    xAxis: {
                        title: {
                            text: 'Day'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Basis'
                        }
                    },
                    series: [{
                        name: 'Basis',
                        data: result
                    }],
                    credits: {
                        enabled: false
                    }
                    });
                }
            });
        }        
    </script>
{% endblock %}