{% extends "nav.html" %}

{% block content %} 
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Futures</h1>
</div>      
{% for item in listProduct %}

{% set df = data[data['Ticker'] == item] %}

    {% set date = (df[df['Date'] < df.iloc[-1]['Date']])['Date'].max() %}
    {% set previousDf = df[df['Date'] == date] %}

    {% set df = df[df['Date'] == df.iloc[-1]['Date']] %}
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ item }}</h6>
        <h6 class="m-0 font-italic text-primary" style="font-size: 0.7rem;">Mis à jour le : {{ df['Date'].iloc[-1] }}, data agritel.com</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Contrat</th>
                        <th>Prix</th>
                        <th>Précédent</th>
                        <th>Change</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in df.iterrows() %}
                    <tr>
                        <td>{{ row['Expiration'] }}</td>
                        <td>{{ row['Prix'] }}</td>
                        <td>{{ previousDf[previousDf['Expiration'] == row['Expiration']]['Prix'].values[0] }}</td>
                        <td class="percentChange">
                            <i class="fa-solid fa-caret-down show-carret-down mr-2"></i>
                            <i class="fa-solid fa-caret-up show-carret-up mr-2"></i>
                            {{ (((row['Prix'] - previousDf[previousDf['Expiration'] == row['Expiration']]['Prix'].values[0]) / (previousDf[previousDf['Expiration'] == row['Expiration']]['Prix'].values[0]|abs)) * 100).round(2) }}%
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %} 

{% block scripts %}
    {{ super() }}    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var valueElements = document.querySelectorAll('.percentChange');

            valueElements.forEach(function(element) {
                var value = parseFloat(element.textContent);
                var caretUp = element.querySelector('.fa-caret-up');
                var caretDown = element.querySelector('.fa-caret-down');

                if (value < 0) {
                    element.style.color = '#E53E3E';
                    caretUp.style.display = 'none';
                    caretDown.style.display = 'inline';
                } else {
                    element.style.color = '#38A169';
                    caretUp.style.display = 'inline';
                    caretDown.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %}