{% extends "nav.html" %}

{% block content %}
<div class="d-sm-flex mb-4">
    <h1 class="h3 mb-0 text-gray-800 mr-4">Surface, Rendement, Production</h1>
    <select name="year" class="custom-select" id="year" style="width: 10%;">
        {% for year in years %}
            <option value='{{ year }}' >{{ year }}</option>
        {% endfor %}
    </select>
</div>  
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Blé tendre</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4" id="bleIframeSurf">
                {{ bleIframeSurf|safe }}
            </div>
            <div class="col-lg-4" id="bleIframeYield">
                {{ bleIframeYield|safe }}
            </div>
            <div class="col-lg-4" id="bleIframeProd">
                {{ bleIframeProd|safe }}
            </div>
        </div>
    </div>
</div>   
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Maïs</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4" id="maisIframeSurf">
                {{ maisIframeSurf|safe }}
            </div>
            <div class="col-lg-4" id="maisIframeYield">
                {{ maisIframeYield|safe }}
            </div>
            <div class="col-lg-4" id="maisIframeProd">
                {{ maisIframeProd|safe }}
            </div>
        </div>
    </div>
</div>   
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Colza</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4" id="colzaIframeSurf">
                {{ colzaIframeSurf|safe }}
            </div>
            <div class="col-lg-4" id="colzaIframeYield">
                {{ colzaIframeYield|safe }}
            </div>
            <div class="col-lg-4" id="colzaIframeProd">
                {{ colzaIframeProd|safe }}
            </div>
        </div>
    </div>
</div>    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('year').addEventListener('change', function() {
            var selectedValue = this.value;
            if (selectedValue) {
                $.ajax({
                    type: "POST",
                    url: "/surfrendprod",
                    data: JSON.stringify({"Date" : selectedValue}),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        // Update the HTML content for each map
                        for (const [key, value] of Object.entries(response)) {
                            $('#' + key).html(value);
                        }
                    },
                    error: function(error) {
                        console.error("Error updating maps:", error);
                    }
                });
            }
        });
    </script>
{% endblock %}