{% extends "nav.html" %}

{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0 pt-4">Anomalies AROME</h1>
    </div>
    <div class="bid-section pt-4">
        <img class="img-fluid d-block m-auto" src="static/img/current.png" alt="Latest AROME Anomaly print France"/>
    </div>
    <div class="datasource text-theme-responsive mb-3">
        Données journalières
        <img class="datasource-img" style="max-width: 60px; margin-left: 10px;" src="{{ url_for('static', filename='img/meteofranceLogo.jpg') }}"/>
    </div>
</div>    
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
    </script>
{% endblock %}