<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AleexV6 Market Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"/>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}"/>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-seedling"></i>
                </div>
                <div class="sidebar-brand-text mx-1">AleexV6 Dashboard</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                Marchés
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="physique">
                    <i class="fas fa-fw fa-money-bill-wave"></i>
                    <span>Physique</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="futures">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Analyse
            </div>

            <li class="nav-item">
                <a class="nav-link" href="basis">
                    <i class="fas fa-fw fa-money-bill-wave"></i>
                    <span>Base</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="spread">
                    <i class="far fa-chart-bar"></i>
                    <span>Spread</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Data
            </div>

            <li class="nav-item">
                <a class="nav-link" href="cot">
                    <i class="far fa-chart-bar"></i>
                    <span>COT</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="futures_curve">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures Curve</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="production">
                    <i class="far fa-chart-bar"></i>
                    <span>Production</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="saisonnalite">
                    <i class="far fa-chart-bar"></i>
                    <span>Saisonnalité</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="developpement">
                    <i class="far fa-chart-bar"></i>
                    <span>Developpement cultures</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="condition">
                    <i class="far fa-chart-bar"></i>
                    <span>Conditions cultures</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                </nav>
                <!-- End of Topbar -->
                <div class="container-fluid">   
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between py-3">
                            <h6 class="m-0 font-weight-bold text-success">Blé tendre</h6>
                        </div>
                        <div class="card-body">
                                <div>
                                    <div id="condEBM" class="mb-4" style="height: 60vh;"></div>
                                </div>
                        </div>                            
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between py-3">
                            <h6 class="m-0 font-weight-bold text-success">Maïs</h6>
                        </div>
                        <div class="card-body">
                                <div>
                                    <div id="condEMA" class="mb-4" style="height: 60vh;"></div>
                                </div>
                        </div>                            
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-between py-3">
                            <h6 class="m-0 font-weight-bold text-success">Blé dur</h6>
                        </div>
                        <div class="card-body">
                                <div>
                                    <div id="condEDW" class="mb-4" style="height: 60vh;"></div>
                                </div>
                        </div>                            
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; AleexV6 Corporation 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    
    <script src="https://code.highcharts.com/stock/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/modules/arearange.js"></script>
    <script src="http://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/js/highcharts_theme.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

    <script>
        handleSelectChange()
        function handleSelectChange() {
            $.ajax({
                type: "POST",
                url: "/process_cond",
                data: 0,
                contentType: "application/json",
                dataType: 'json',
                success: function(data, success){
                    dataBleTendre = data.filter(subarray => subarray[0] === 'Blé tendre')
                    dataBleDur = data.filter(subarray => subarray[0] === 'Blé dur')
                    dataMais = data.filter(subarray => subarray[0] === 'Maïs grain')
                    Highcharts.chart('condEBM', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataBleTendre.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('condEMA', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataMais.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataMais.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataMais.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataMais.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataMais.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('condEDW', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataBleDur.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataBleDur.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataBleDur.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataBleDur.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataBleDur.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
                }
            });
        }

    </script>

</body>

</html>