{% extends "nav.html" %}

{% block content %} 
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Blé tendre</h6>
    </div>
    <div class="card-body">
            <div>
                <div id="condEBM" class="mb-4" style="height: 60vh;"></div>
            </div>
    </div>                            
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Maïs</h6>
    </div>
    <div class="card-body">
            <div>
                <div id="condEMA" class="mb-4" style="height: 60vh;"></div>
            </div>
    </div>                            
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Blé dur</h6>
    </div>
    <div class="card-body">
            <div>
                <div id="condEDW" class="mb-4" style="height: 60vh;"></div>
            </div>
    </div>                            
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        handleSelectChange()
        function handleSelectChange() {
            $.ajax({
                type: "POST",
                url: "/process_cond",
                data: 0,
                contentType: "application/json",
                dataType: 'json',
                success: function(data, success){
                    dataBleTendre = data.filter(subarray => subarray[0] === 'Blé tendre')
                    dataBleDur = data.filter(subarray => subarray[0] === 'Blé dur')
                    dataMais = data.filter(subarray => subarray[0] === 'Maïs grain')
                    Highcharts.chart('condEBM', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataBleTendre.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataBleTendre.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('condEMA', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataMais.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataMais.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataMais.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataMais.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataMais.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataMais.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('condEDW', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Conditions bonnes et très bonnes (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Week'
                        },
                        categories: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[3]])
                        //type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% B + TB'
                        }
                    },
                    series: [{
                        name: '2023/2024',
                        data: dataBleDur.filter(subarray => subarray[10] === '2023/2024').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2022/2023',
                        data: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2021/2022',
                        data: dataBleDur.filter(subarray => subarray[10] === '2021/2022').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2020/2021',
                        data: dataBleDur.filter(subarray => subarray[10] === '2020/2021').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2019/2020',
                        data: dataBleDur.filter(subarray => subarray[10] === '2019/2020').map(subarray => [subarray[11]])
                    },
                    {
                        name: '2018/2019',
                        data: dataBleDur.filter(subarray => subarray[10] === '2018/2019').map(subarray => [subarray[11]])
                    },
                    {
                        name: 'Moyenne 5 ans',
                        data: dataBleDur.filter(subarray => subarray[10] === '2022/2023').map(subarray => [subarray[17]]),
                        color: '#000000',
                        lineWidth: 4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
                }
            });
        }

    </script>
{% endblock %}