{% extends "nav.html" %}

{% block content %}
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>   
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0">COT Report</h1>
        <a href="{{ url_for('download_cot', filename='COT_Report_Agri.pdf') }}" class="btn btn-sm btn-success shadow-sm"><b>COT Report PDF</b></a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">EBM Milling Wheat / Ble</h6>
        </div>
        <div class="card-body">
            <div id="net_euronext_ebm" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="seasonality_fonds_euronext_ebm" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
                <div class="col-lg-6">
                    <div id="seasonality_comm_euronext_ebm" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
            </div>                            
            <div id="variation_euronext_ebm" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">EMA Corn / Maïs</h6>
        </div>
        <div class="card-body">
            <div id="net_euronext_ema" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="seasonality_fonds_euronext_ema" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
                <div class="col-lg-6">
                    <div id="seasonality_comm_euronext_ema" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
            </div>
            <div id="variation_euronext_ema" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">ECO Rapeseed / Colza</h6>
        </div>
        <div class="card-body">
            <div id="net_euronext_eco" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
            <div class="row">
                <div class="col-lg-6">
                    <div id="seasonality_fonds_euronext_eco" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
                <div class="col-lg-6">
                    <div id="seasonality_comm_euronext_eco" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                </div>
            </div>
            <div id="variation_euronext_eco" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>
    <div class="datasource text-theme-responsive mb-3">
        Données hebdomadaires
        <img class="datasource-img" src="{{ url_for('static', filename='img/euronextLogo.png') }}"/>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var net_euronext_ebm = JSON.parse('{{ net_euronext_ebm | tojson }}');
        var net_euronext_ema = JSON.parse('{{ net_euronext_ema | tojson }}');
        var net_euronext_eco = JSON.parse('{{ net_euronext_eco | tojson }}');
        var seasonality_fonds_euronext_ebm = JSON.parse('{{ seasonality_fonds_euronext_ebm | tojson }}');
        var seasonality_comm_euronext_ebm = JSON.parse('{{ seasonality_comm_euronext_ebm | tojson }}');
        var seasonality_fonds_euronext_ema = JSON.parse('{{ seasonality_fonds_euronext_ema | tojson }}');
        var seasonality_comm_euronext_ema = JSON.parse('{{ seasonality_comm_euronext_ema | tojson }}');
        var seasonality_fonds_euronext_eco = JSON.parse('{{ seasonality_fonds_euronext_eco | tojson }}');
        var seasonality_comm_euronext_eco = JSON.parse('{{ seasonality_comm_euronext_eco | tojson }}');
        var variation_fonds_ebm = JSON.parse('{{ df_variation_fonds_ebm | tojson }}');
        var variation_fonds_ema = JSON.parse('{{ df_variation_fonds_ema | tojson }}');
        var variation_fonds_eco = JSON.parse('{{ df_variation_fonds_eco | tojson }}');

        var seasonality_fonds_euronext_ebm_series = [];
        var seasonality_comm_euronext_ebm_series = [];
        var seasonality_fonds_euronext_ema_series = [];
        var seasonality_comm_euronext_ema_series = [];
        var seasonality_fonds_euronext_eco_series = [];
        var seasonality_comm_euronext_eco_series = [];

        for (var i = 0; i < seasonality_fonds_euronext_ebm.length; i++) {
            seasonality_fonds_euronext_ebm_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_fonds_euronext_ebm[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }
        for (var i = 0; i < seasonality_comm_euronext_ebm.length; i++) {
            seasonality_comm_euronext_ebm_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_comm_euronext_ebm[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }
        for (var i = 0; i < seasonality_fonds_euronext_ema.length; i++) {
            seasonality_fonds_euronext_ema_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_fonds_euronext_ema[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }
        for (var i = 0; i < seasonality_comm_euronext_ema.length; i++) {
            seasonality_comm_euronext_ema_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_comm_euronext_ema[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }
        for (var i = 0; i < seasonality_fonds_euronext_eco.length; i++) {
            seasonality_fonds_euronext_eco_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_fonds_euronext_eco[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }
        for (var i = 0; i < seasonality_comm_euronext_eco.length; i++) {
            seasonality_comm_euronext_eco_series.push({
                name: (2018 + i) + '-' + (2019 + i),
                data: seasonality_comm_euronext_eco[i].map(function(item) {
                    return [item['Date'], Math.round(item['Net'])];
                })
            });
        }        

        var fondsEBM = net_euronext_ebm.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['FondNetPos'])];
        });
        var commEBM = net_euronext_ebm.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['CommerceNetPos'])];
        });
        var creditEBM = net_euronext_ebm.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['InvestAndCredit'])];
        });
        var otherEBM = net_euronext_ebm.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['OtherFinancial'])];
        });

        var fondsEMA = net_euronext_ema.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['FondNetPos'])];
        });
        var commEMA = net_euronext_ema.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['CommerceNetPos'])];
        });
        var creditEMA = net_euronext_ema.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['InvestAndCredit'])];
        });
        var otherEMA = net_euronext_ema.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['OtherFinancial'])];
        });

        var fondsECO = net_euronext_eco.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['FondNetPos'])];
        });
        var commECO = net_euronext_eco.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['CommerceNetPos'])];
        });
        var creditECO = net_euronext_eco.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['InvestAndCredit'])];
        });
        var otherECO = net_euronext_eco.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['OtherFinancial'])];
        });

        var variationFondsEBM = variation_fonds_ebm.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['NetVar'])];
        });

        var variationFondsECO = variation_fonds_eco.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['NetVar'])];
        });

        var variationFondsEMA = variation_fonds_ema.map(function(item) {
            return [new Date(item['Date']).getTime(), Math.round(item['NetVar'])];
        });


        Highcharts.chart('net_euronext_ebm', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Positions nettes ' + net_euronext_ebm[0]['Ticker'] +' '+ '(' + net_euronext_ebm[0]['Produit'] + ')'
        },
        xAxis: {
            title: {
                text: 'Day'
            },
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Spread'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: fondsEBM,
        }, {
            name: "Entreprises commerciales",
            data: commEBM,
        }, {
            name: "Entreprises d'investissement et établissements de crédit",
            data: creditEBM,
        }, {
            name: "Autres institutions financières",
            data: otherEBM
        }],

        credits: {
            enabled: false
        },
        });


        Highcharts.chart('net_euronext_ema', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Positions nettes ' + net_euronext_ema[0]['Ticker'] +' '+ '(' + net_euronext_ema[0]['Produit'] + ')'
        },
        xAxis: {
            title: {
                text: 'Day'
            },
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Spread'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: fondsEMA,
        }, {
            name: "Entreprises commerciales",
            data: commEMA,
        }, {
            name: "Entreprises d'investissement et établissements de crédit",
            data: creditEMA,
        }, {
            name: "Autres institutions financières",
            data: otherEMA
        }],

        credits: {
            enabled: false
        }
        });


        Highcharts.chart('net_euronext_eco', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Positions nettes ' + net_euronext_eco[0]['Ticker'] +' '+ '(' + net_euronext_eco[0]['Produit'] + ')'
        },
        xAxis: {
            title: {
                text: 'Day'
            },
            type: 'datetime'
        },
        yAxis: {
            title: {
                text: 'Spread'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: fondsECO,
        }, {
            name: "Entreprises commerciales",
            data: commECO,
        }, {
            name: "Entreprises d'investissement et établissements de crédit",
            data: creditECO,
        }, {
            name: "Autres institutions financières",
            data: otherECO
        }],

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_fonds_euronext_ebm', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_fonds_euronext_ebm[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_fonds_euronext_ebm_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_fonds_euronext_ebm_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_comm_euronext_ebm', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_comm_euronext_ebm[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_comm_euronext_ebm_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_comm_euronext_ebm_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_fonds_euronext_ema', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_fonds_euronext_ema[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_fonds_euronext_ema_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_fonds_euronext_ema_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_comm_euronext_ema', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_comm_euronext_ema[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_comm_euronext_ema_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_comm_euronext_ema_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_fonds_euronext_eco', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_fonds_euronext_eco[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_fonds_euronext_eco_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_fonds_euronext_eco_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('seasonality_comm_euronext_eco', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Saisonnalité ' + seasonality_comm_euronext_eco[0][0]['Type']
        },
        xAxis: {
            categories: seasonality_comm_euronext_eco_series[4].data.map(point => new Intl.DateTimeFormat("fr-FR", {day: "numeric",month: 'short'}).format(new Date(point[0])))
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: seasonality_comm_euronext_eco_series,

        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('variation_euronext_ebm', {
        chart: {
            styledMode: true,
            type: 'histogram'
        },        
        title: {
            text: 'Variation ' + variation_fonds_ebm[0]['Type']
        },
        xAxis: {
            type: 'datetime',
            title: {
                text: 'Day'
            }
        },
        tooltip: {
            formatter: function (tooltip) {
                return '<p style="font-size: 10px">' + new Intl.DateTimeFormat('fr-FR', { weekday: 'long', month: 'short', day: 'numeric', year: 'numeric' }).format(new Date(this.x)) + '</p> <br>' + variation_fonds_ebm[0]['Type'] + ' : <b>' + this.y + '</b>'
            }
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: variationFondsEBM,
        }],

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('variation_euronext_ema', {
        chart: {
            styledMode: true,
            type: 'histogram'
        },
        title: {
            text: 'Variation ' + variation_fonds_ema[0]['Type']
        },
        xAxis: {
            title: {
                text: 'Day'
            },
            type: 'datetime'
        },
        tooltip: {
            formatter: function (tooltip) {
                return '<p style="font-size: 10px">' + new Intl.DateTimeFormat('fr-FR', { weekday: 'long', month: 'short', day: 'numeric', year: 'numeric' }).format(new Date(this.x)) + '</p> <br>' + variation_fonds_ebm[0]['Type'] + ' : <b>' + this.y + '</b>'
            }
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: variationFondsEMA,
        }],

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('variation_euronext_eco', {
        chart: {
            styledMode: true,
            type: 'histogram'
        },
        title: {
            text: 'Variation ' + variation_fonds_eco[0]['Type']
        },
        xAxis: {
            title: {
                text: 'Day'
            },
            type: 'datetime'
        },
        tooltip: {
            formatter: function (tooltip) {
                return '<p style="font-size: 10px">' + new Intl.DateTimeFormat('fr-FR', { weekday: 'long', month: 'short', day: 'numeric', year: 'numeric' }).format(new Date(this.x)) + '</p> <br>' + variation_fonds_ebm[0]['Type'] + ' : <b>' + this.y + '</b>'
            }
        },
        yAxis: {
            title: {
                text: 'Contrats'
            }
        },
        series: [{
            name: "Fonds d'investissement",
            data: variationFondsECO,
        }],

        credits: {
            enabled: false
        }
        });

    </script>
{% endblock %}