{% extends "nav.html" %}

{% block content %}
{% for item in curveData %}
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 font-weight-bold text-success">{{item['Ticker']}}</h6>
        </div>
        <div class="card-body">
            <div id="curve{{ item['Ticker'] }}" class="mb-4" style="height: 60vh;"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var data = JSON.parse('{{ curveData | tojson }}');
        data.forEach(dict => {
            Highcharts.chart(`curve${dict.Ticker}`, {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Curve ' + dict.Ticker
            },
            xAxis: {
                title: {
                    text: 'Expiration'
                },
                categories : dict.Expirations
            },
            yAxis: {
                title: {
                    text: 'Prix'
                }
            },
            series: [{
                name: dict.Ticker,
                data: dict.Prix,
            }],
            plotOptions: {
                series: {
                    marker: {
                    enabled: false
                    }
                }
            },
            credits: {
                enabled: false
            }
            });
        });
    </script>
{% endblock %}