{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0 mr-4">Développement cultures</h1>
        <div>
            <label class="xsmall mr-2"><b>MARKETING YEAR :</b></label>
            <select name="market_year" class="custom-select mr-4" id="market_year_selector" style="width: auto;">
                {% for my in marketYear: %}        
                <option value='{{ my }}' >{{ my }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% for item in data: %}
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 text-theme-responsive font-weight-bold">{{ item['Produit'] }}</h6>
            </div>
            <div class="card-body">
                {% if item['Produit'] in ['Blé tendre', 'Blé dur']: %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[0] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[1] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[2] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[3] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[4] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[5] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevBle[6] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                    </div>  
                {% else: %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[0] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[1] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[2] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[3] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[4] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                        <div class="col-lg-4">
                            <div id="dev{{ item['Produit'].replace(' ', '') }}{{ stadeDevMais[5] }}" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
                        </div>
                    </div>
                {% endif %}
                            
            </div>
        </div>
    {% endfor %}
    <div class="datasource text-theme-responsive mb-3">
        Données hebdomadaires
        <img class="datasource-img ml-3" src="{{ url_for('static', filename='img/franceagrimerLogo.png') }}"/>
    </div>
</div>
{% endblock %}     

{% block scripts %}
    {{ super() }}      
    <script>
        function filterList(inputList) {
            return inputList.filter(sublist => 
                !(sublist[1] >= 99 && sublist[2] >= 99) &&
                !(sublist[1] <= 1 && sublist[2] <= 1)
            );
        }

        var data = JSON.parse('{{ data | tojson }}');
        var statsData = JSON.parse('{{ statsData | tojson }}');
        
        data.forEach((item) => {
            item.Stade.forEach((stade) => {
                statsProduit = statsData.filter(stats => stats.Produit === item.Produit)[0].Stade
                statsDev = statsProduit.filter(dev => dev.Parent === stade.Dev)
                var areaRange = statsDev.filter(area => area.Dev === `${stade.Dev}_min` || area.Dev === `${stade.Dev}_max`)
                const transformed = areaRange.map(lol => lol.Data)[0].map(([key, value]) => {
                    const match = areaRange.map(lol => lol.Data)[1].find(([key2]) => key2 === key);
                    return match ? [key, value, match[1]] : [key, value];
                });
                var statsMean = statsDev.filter(area => area.Dev === `${stade.Dev}_mean`)[0]

                var series = [{
                    name: `${stade.Dev}`,
                    data: stade.Data.filter(item => item[1] > 0 && item[1] < 100)
                },
                {
                    name: `${stade.Dev} min-max 5 ans`,
                    type: 'arearange',
                    data: filterList(transformed),
                    color: 'rgba(68, 170, 213, 0.2)',
                    fillOpacity: 0.4
                },
                {
                    name: `${stade.Dev} moyenne 5 ans`,
                    data: statsMean.Data.filter(item => item[1] > 1 && item[1] < 99),
                    color: '#000000'
                }];

                Highcharts.chart(`dev${item.Produit.replace(/\s/g, "")}${stade.Dev}`, {
                    chart: {
                        styledMode: true,
                        type: 'line'
                    },
                    title: {
                        text: `${stade.Dev} (Moyenne France)`
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: series,
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
            });
        });

        document.getElementById("market_year_selector").addEventListener("change", handleSelectChange);
        function handleSelectChange() {
            $.ajax({
                type: "POST",
                url: "/process_dev",
                data: JSON.stringify({"Marketing_year": document.getElementById("market_year_selector").value}),
                contentType: "application/json",
                dataType: 'json',
                success: function(data){
                    var currentData = data[0];
                    var currentStatsData = data[1];
                    year = parseInt(document.getElementById("market_year_selector").value.split("/")[0])
                    currentData.forEach((item) => {
                        item.Stade.forEach((stade) => {
                            if (year < 2020) {
                                var series = [{
                                    name: `${stade.Dev}`,
                                    data: stade.Data.filter(value => value[1] > 0 && value[1] < 100)
                                }];
                            }
                            else {
                                statsProduit = currentStatsData.filter(stats => stats.Produit === item.Produit)[0].Stade
                                statsDev = statsProduit.filter(dev => dev.Parent === stade.Dev)
                                var areaRange = statsDev.filter(area => area.Dev === `${stade.Dev}_min` || area.Dev === `${stade.Dev}_max`)
                                const transformed = areaRange.map(aR => aR.Data)[0].map(([key, value]) => {
                                    const match = areaRange.map(aR => aR.Data)[1].find(([key2]) => key2 === key);
                                    return match ? [key, value, match[1]] : [key, value];
                                });
                                var statsMean = statsDev.filter(area => area.Dev === `${stade.Dev}_mean`)[0]

                                var series = [{
                                    name: `${stade.Dev}`,
                                    data: stade.Data.filter(value => value[1] > 0 && value[1] < 100)
                                },
                                {
                                    name: `${stade.Dev} min-max 5 ans`,
                                    type: 'arearange',
                                    data: filterList(transformed),
                                    color: 'rgba(68, 170, 213, 0.2)',
                                    fillOpacity: 0.4
                                },
                                {
                                    name: `${stade.Dev} moyenne 5 ans`,
                                    data: statsMean.Data.filter(value => value[1] > 1 && value[1] < 99),
                                    color: '#000000'
                                }];
                            }
                            

                            Highcharts.chart(`dev${item.Produit.replace(/\s/g, "")}${stade.Dev}`, {
                                chart: {
                                    styledMode: true,
                                    type: 'line'
                                },
                                title: {
                                    text: `${stade.Dev} (Moyenne France)`
                                },
                                xAxis: {
                                    title: {
                                        text: 'Date'
                                    },
                                    type: 'datetime'
                                },
                                yAxis: {
                                    title: {
                                        text: '% developpement'
                                    }
                                },
                                series: series,
                                plotOptions: {
                                    series: {
                                        marker: {
                                        enabled: false
                                        }
                                    }
                                },
                                credits: {
                                    enabled: false
                                }
                                });
                        });
                    });
                }
            });
        };

    </script>
{% endblock %}   