{% extends "nav.html" %}

{% block content %} 
<form class="form-inline mb-4">
    <label class="mr-2">Marketing Year : </label>
    <select name="market_year" class="custom-select mr-4" id="market_year_selector">
        <option value='2024_2025' >2024/2025</option>
        <option value='2023_2024' >2023/2024</option>
        <option value='2022_2023' >2022/2023</option>
        <option value='2021_2022' >2021/2022</option>                          
    </select>
</form>
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Blé tendre</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div id="devEBMSemis" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEBMLevee" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEBMDebutT" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div id="devEBMEpi1cm" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEBM2noeuds" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEBMEpiaison" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div id="devEBMRecolte" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>                            
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Maïs</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div id="devEMASemis" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEMALevee" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEMA68Feuilles" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div id="devEMAFloraison" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEMAHumidite" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEMARecolte" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>                            
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">Blé dur</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-4">
                <div id="devEDWSemis" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEDWLevee" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEDWDebutT" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div id="devEDWEpi1cm" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEDW2noeuds" class="mb-4" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-4">
                <div id="devEDWEpiaison" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div id="devEDWRecolte" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>                            
    </div>
</div>
{% endblock %}     

{% block scripts %}
    {{ super() }}      
    <script>
        function getDateAndMoyenneFrance(lists) {
            return lists.map(sublist => {
                if (sublist.length === 0) {
                return []; // Return an empty array if the sublist is empty
                }
                if (sublist.length === 1) {
                return [sublist[0]]; // Return the single element if the sublist has only one element
                }
                return [sublist[0], sublist[sublist.length - 4]];
            });
        };
        function getDateAndMoyenneMoyenneFrance(lists) {
            return lists.map(sublist => {
                if (sublist.length === 0) {
                return []; // Return an empty array if the sublist is empty
                }
                if (sublist.length === 1) {
                return [sublist[0]]; // Return the single element if the sublist has only one element
                }
                return [sublist[0], sublist[sublist.length - 3]];
            });
        };
        function getDateAndAreaMinMax(lists) {
            return lists.map(sublist => {
                if (sublist.length === 0) {
                return []; // Return an empty array if the sublist is empty
                }
                if (sublist.length === 1) {
                return [sublist[0]]; // Return the single element if the sublist has only one element
                }
                return [sublist[0], sublist[sublist.length - 2], sublist[sublist.length - 1]];
            });
        };

        document.getElementById("market_year_selector").addEventListener("change", handleSelectChange);
        handleSelectChange()
        function handleSelectChange() {
            $.ajax({
                type: "POST",
                url: "/process_dev",
                data: JSON.stringify({"Marketing_year": document.getElementById("market_year_selector").value}),
                contentType: "application/json",
                dataType: 'json',
                success: function(data, success){
                    currentData = JSON.parse(data['Data'])
                    meanDataCereales = JSON.parse(data['MeanCereales'])
                    meanDataMais = JSON.parse(data['MeanMais'])
                    Highcharts.chart('devEBMSemis', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Semis (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Semis',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[3]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9&& subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreSemis)
                    },
                    {
                        name: 'Semis Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[2]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreSemis),
                        color: '#000000'
                    },
                    {
                        name: 'Semis Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[3], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreSemis),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBMLevee', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Levée (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Levée',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreLevee)
                    },
                    {
                        name: 'Levée Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[5]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreLevee),
                        color: '#000000'
                    },
                    {
                        name: 'Levée Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[6], subarray[7]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreLevee),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBMDebutT', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Debut Tallage (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Debut Tallage',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[17]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreDebutT)
                    },
                    {
                        name: 'Debut Tallage Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[8]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreDebutT),
                        color: '#000000'
                    },
                    {
                        name: 'Debut Tallage Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[9], subarray[10]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreDebutT),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBMEpi1cm', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Epi 1 cm (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Epi 1cm',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[18]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreEpi1cm)
                    },
                    {
                        name: 'Epi 1cm Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[11]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreEpi1cm),
                        color: '#000000'
                    },
                    {
                        name: 'Epi 1cm Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[12], subarray[13]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreEpi1cm),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBM2noeuds', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: '2 noeuds (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: '2 noeuds',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[19]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendre2noeuds)
                    },
                    {
                        name: '2 noeuds Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[14]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendre2noeuds),
                        color: '#000000'
                    },
                    {
                        name: '2 noeuds Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[15], subarray[16]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendre2noeuds),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBMEpiaison', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Epiaison (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Epiaison',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[20]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendreEpiaison)
                    },
                    {
                        name: 'Epiaison Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[17]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreEpiaison),
                        color: '#000000'
                    },
                    {
                        name: 'Epiaison Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[18], subarray[19]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreEpiaison),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    }, 
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEBMRecolte', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Recolte (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Recolte',
                        data: currentData.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[16], subarray[8]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendreRecolte)
                    },
                    {
                        name: 'Recolte Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[29]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreRecolte),
                        color: '#000000'
                    },
                    {
                        name: 'Recolte Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé tendre').map(subarray => [subarray[32], subarray[30], subarray[31]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreRecolte),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWSemis', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Semis (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Semis',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[3]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreSemis)
                    },
                    {
                        name: 'Semis Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[2]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreSemis),
                        color: '#000000'
                    },
                    {
                        name: 'Semis Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[3], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreSemis),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWLevee', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Levée (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Levée',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreLevee)
                    },
                    {
                        name: 'Levée Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[5]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreLevee),
                        color: '#000000'
                    },
                    {
                        name: 'Levée Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[6], subarray[7]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreLevee),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWDebutT', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Debut Tallage (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Debut Tallage',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[17]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreDebutT)
                    },
                    {
                        name: 'Debut Tallage Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[8]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreDebutT),
                        color: '#000000'
                    },
                    {
                        name: 'Debut Tallage Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[9], subarray[10]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreDebutT),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWEpi1cm', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Epi 1 cm (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Epi 1cm',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[18]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreEpi1cm)
                    },
                    {
                        name: 'Epi 1cm Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[11]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreEpi1cm),
                        color: '#000000'
                    },
                    {
                        name: 'Epi 1cm Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[12], subarray[13]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreEpi1cm),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDW2noeuds', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: '2 noeuds (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: '2 noeuds',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[19]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendre2noeuds)
                    },
                    {
                        name: '2 noeuds Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[14]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendre2noeuds),
                        color: '#000000'
                    },
                    {
                        name: '2 noeuds Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[15], subarray[16]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendre2noeuds),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWEpiaison', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Epiaison (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Epiaison',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[20]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendreEpiaison)
                    },
                    {
                        name: 'Epiaison Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[17]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreEpiaison),
                        color: '#000000'
                    },
                    {
                        name: 'Epiaison Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[18], subarray[19]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreEpiaison),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEDWRecolte', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Recolte (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Recolte',
                        data: currentData.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[16], subarray[8]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendreRecolte)
                    },
                    {
                        name: 'Recolte Moyenne 5 ans',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[29]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreRecolte),
                        color: '#000000'
                    },
                    {
                        name: 'Recolte Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataCereales.filter(subarray => subarray[0] === 'Blé dur').map(subarray => [subarray[32], subarray[30], subarray[31]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreRecolte),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMASemis', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Semis (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Semis',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[3]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreSemis)
                    },
                    {
                        name: 'Semis Moyenne 5 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[2]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreSemis),
                        color: '#000000'
                    },
                    {
                        name: 'Semis Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[3], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreSemis),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMALevee', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Levée (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Levée',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[4]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(bleTendreLevee)
                    },
                    {
                        name: 'Levée Moyenne 4 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[5]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreLevee),
                        color: '#000000'
                    },
                    {
                        name: 'Levée Min Max 4 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[6], subarray[7]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreLevee),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMA68Feuilles', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: '6-8 Feuilles Visibles (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: '6-8 Feuilles Visibles',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[5]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(mais68Feuilles)
                    },
                    {
                        name: '6-8 Feuilles Visibles Moyenne 5 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[20]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(mais68Feuilles),
                        color: '#000000'
                    },
                    {
                        name: '6-8 Feuilles Visibles Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[21], subarray[22]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(mais68Feuilles),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMAFloraison', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Floraison Femelle (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Floraison Femelle',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[6]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null)//getDateAndMoyenneFrance(maisFlorFem)
                    },
                    {
                        name: 'Floraison Femelle Moyenne 5 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[23]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(maisFlorFem),
                        color: '#000000'
                    },
                    {
                        name: 'Floraison Femelle Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[24], subarray[25]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(maisFlorFem),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMAHumidite', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Humidité grain 50% (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Humidité grain 50%',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[7]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(maisHum50)
                    },
                    {
                        name: 'Humidité grain 50% Moyenne 5 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[26]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(maisHum50),
                        color: '#000000'
                    },
                    {
                        name: 'Humidité grain 50% Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[27], subarray[28]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(maisHum50),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });

                    Highcharts.chart('devEMARecolte', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Recolte (Moyenne France)'
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: '% developpement'
                        }
                    },
                    series: [{
                        name: 'Recolte',
                        data: currentData.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[16], subarray[8]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9 && subarray[1] !== null),//getDateAndMoyenneFrance(bleTendreRecolte)
                    },
                    {
                        name: 'Recolte Moyenne 5 ans',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[29]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndMoyenneMoyenneFrance(bleTendreRecolte),
                        color: '#000000'
                    },
                    {
                        name: 'Recolte Min Max 5 ans',
                        type: 'arearange',
                        data: meanDataMais.filter(subarray => subarray[0] === 'Maïs grain').map(subarray => [subarray[32], subarray[30], subarray[31]]).filter(subarray => subarray[1] !== 0 && subarray[1] <= 99.9),//getDateAndAreaMinMax(bleTendreRecolte),
                        color: 'rgba(68, 170, 213, 0.2)',
                        fillOpacity: 0.4
                    }
                    ],
                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
                }
            });
        }

    </script>
{% endblock %}   