{% extends "nav.html" %}

{% block content %} 
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Futures</h1>
</div>      
{% for ticker in tickers %}
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ ticker }}</h6>
        <h6 class="m-0 font-italic text-primary" style="font-size: 0.7rem;">Mis à jour le : {{tableData[0]['Date']}}, data Euronext</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mois</th>
                        <th>Open</th>
                        <th>High</th>
                        <th>Low</th>
                        <th>Close</th>
                        <th>Daily Change</th>
                        <th>Volume</th>
                        <th>Open Interest</th>
                        <th>Graphique</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tableData %}
                        {% if item['Ticker'] == ticker %}
                            <tr>
                                <td>{{ item['Expiration'] }}</td>
                                <td>{{ item['Open'] }}</td>
                                <td>{{ item['High'] }}</td>
                                <td>{{ item['Low'] }}</td>
                                <td>{{ item['Close'] }}</td>
                                <td class="percentChange">
                                    <i class="fa-solid fa-caret-down show-carret-down mr-2" style="display: none;"></i>
                                    <i class="fa-solid fa-caret-up show-carret-up mr-2" style="display: none;"></i>
                                    <i class="fa-solid fa-equals show-equals mr-2" style="display: none;"></i>
                                    {{ item['Change'] }}%
                                </td>
                                <td>{{ item['Volume'] }}</td>
                                <td>{{ item['Open Interest'] }}</td>
                                <td><i class="fa-solid fa-chart-simple logoGraph" data-toggle="modal" data-target="#graphModal" style="cursor: pointer;" id="{{item['Ticker']}}/{{item['Expiration']}}"></i></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endfor %}
<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="graphFuture" class="mb-4" style="height: 60vh;"></div>
        </div>
        </div>
    </div>
</div>
{% endblock %} 

{% block scripts %}
    {{ super() }}    
    <script>
        var futures = JSON.parse('{{ data | tojson }}');
        // Fonction qui sera appelée lorsqu'un icône est cliqué
        function handleIconClick(event) {
            // Récupère l'ID de l'élément cliqué
            var iconId = event.target.id;
            // Affiche l'ID dans la console (ou utilisez-le comme vous le souhaitez)
            const [ticker, expi] = iconId.split('/', 2);
            var data = futures.filter(item => item.Ticker === ticker && item.Expiration === expi);
            var dataEnd = data.map(function(item) {
                return [new Date(item['Date']).getTime(), item['Close']];
            });
            Highcharts.stockChart('graphFuture', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: ticker + ' ' + expi
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Prix'
                        }
                    },
                    series: [{
                        name: "Prix",
                        data: dataEnd,
                    }],

                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
        }

        // Sélectionne tous les éléments avec la classe 'fa-icon'
        var icons = document.querySelectorAll('.logoGraph');

        // Ajoute un gestionnaire d'événements de clic à chaque élément
        icons.forEach(function(icon) {
            icon.addEventListener('click', handleIconClick);
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var valueElements = document.querySelectorAll('.percentChange');

            valueElements.forEach(function(element) {
                var value = parseFloat(element.textContent);
                var caretUp = element.querySelector('.fa-caret-up');
                var caretDown = element.querySelector('.fa-caret-down');
                var equals = element.querySelector('.fa-equals');

                if (value < 0) {
                    element.style.color = '#E53E3E';
                    caretUp.style.display = 'none';
                    equals.style.display = 'none';
                    caretDown.style.display = 'inline';
                } else if (value > 0) {
                    element.style.color = '#38A169';
                    caretUp.style.display = 'inline';
                    equals.style.display = 'none';
                    caretDown.style.display = 'none';
                }
                else{
                    element.style.color = '#2D3748';
                    caretUp.style.display = 'none';
                    equals.style.display = 'inline';
                    caretDown.style.display = 'none';
                }
            });
        });
    </script>
{% endblock %}