<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}AleexV6 Market Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}"/>
</head>

<body class="sidebar-toggled" id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-seedling"></i>
                </div>
                <div class="sidebar-brand-text mx-1">AleexV6 Dashboard</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                Marchés
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="physique">
                    <i class="fa-solid fa-wheat-awn"></i>
                    <span>Physique</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="futures">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="basis">
                    <i class="fas fa-fw fa-money-bill-wave"></i>
                    <span>Base</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="spread">
                    <i class="far fa-chart-bar"></i>
                    <span>Spread</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Sup./Dem.
            </div>

            <li class="nav-item">
                <a class="nav-link" href="wasde">
                    <i class="fa-solid fa-globe"></i>
                    <span>WASDE</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="surfrendprod">
                    <i class="fa-solid fa-tractor"></i>
                    <span>Surf., Rend., Prod. FR</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="production">
                    <i class="far fa-chart-bar"></i>
                    <span>Production</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Analyse
            </div>

            <li class="nav-item">
                <a class="nav-link" href="arome-anomaly">
                    <i class="fa-solid fa-cloud-sun"></i>
                    <span>AROME Anomalies</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="cot">
                    <i class="far fa-chart-bar"></i>
                    <span>COT</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="futures-curve">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures Curve</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="saisonnalite">
                    <i class="fa-regular fa-calendar"></i>
                    <span>Saisonnalité</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="developpement">
                    <i class="far fa-chart-bar"></i>
                    <span>Developpement cultures</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="condition">
                    <i class="far fa-chart-bar"></i>
                    <span>Conditions cultures</span></a>
            </li>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar topbar static-top shadow">
                    <!-- Sidebar Toggler (Sidebar) -->
                    <div class="text-center no-show-burger">
                        <button class="border-0" id="sidebarToggle">
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                    <div class="ml-auto">
                        <button class="nav-btn border-0" id="themeToggle">
                            <i class="fa-solid fa-moon" id="darkLogo"></i>  
                            <i class="fa-solid fa-lightbulb" id="lightLogo"></i>
                        </button>
                    </div>
                </nav>
                <!-- End of Topbar -->                    
                {% block content %}
                <!-- This block will be overridden by child templates -->
                {% endblock %}
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span class="text-theme-responsive">Copyright &copy; AleexV6 Corporation {{ current_year }}</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/stock/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/arearange.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.highcharts.com/dashboards/dashboards.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>

    {% block scripts %}
    <!-- Additional scripts will be inserted here -->
    {% endblock %}

</body>

</html>