{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h2 class="text-theme-responsive mb-0">Cash</h2>
    </div>      
    {% for produit in produits %}
        <div class="bid-section">
            <div class="header">
                {{ produit }}
            </div>
            <table>
                <thead class="th-separator">
                    <tr>
                        <th class="text-align-left">LIVRAISON</th>
                        <th>
                            <div class="text-align-right">
                                BID
                            </div>
                            <div class="text-align-right subheader">
                                (EUR/T)
                            </div>
                        </th>
                        <th>
                            <div class="text-align-right">
                                BASIS
                            </div>
                            <div class="text-align-right subheader">
                                (EUR/T)
                            </div>
                        </th>
                        <th>
                            <div class="text-align-right">
                                CHANGE
                            </div>
                            <div class="text-align-right subheader">
                                (EUR/T)
                            </div>
                        </th>
                        <th class="text-align-right">MOIS FUTURES</th>
                        <th class="text-align-right">HISTORIQUE</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in tableData %}
                        {% if item['Produit'] == produit %}
                            <tr>
                                <td class="text-align-left"><b>{{ item['Place'] }}</b></td>
                                <td class="text-align-right"><b>{{ item['Prix'] }}</b></td>
                                <td class="text-align-right"><b>{{ item['Base'] }}</b></td>
                                <td class="change text-align-right"><b>{{ item['Change'] }}</b></td>
                                <td class="futures-month text-align-right"><b>{{ item['Expiration'] }}</b></td>
                                <td class="text-align-right"><i class="fa-solid fa-chart-line logoGraph" data-toggle="modal" data-target="#graphModal" style="cursor: pointer;" id="{{produit}}/{{item['Place']}}"></i></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <div class="datasource mb-3 text-theme-responsive">
        Données journalières
        <img class="datasource-img mr-1" src="{{ url_for('static', filename='img/terrenetLogo.png') }}"/>
        <img class="datasource-img" src="{{ url_for('static', filename='img/euronextLogo.png') }}"/>
    </div>
</div>
<div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="graphPhysique" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block scripts %}
    {{ super() }}  
    <script>
            document.addEventListener('DOMContentLoaded', function () {
                const changeCells = document.querySelectorAll('.change');
                changeCells.forEach(cell => {
                    const value = parseFloat(cell.textContent);
                    if (value > 0) {
                        cell.classList.add('positive-change');
                        cell.innerHTML = `<b>&#9650; ${value}%</b>`;
                    } else if (value < 0) {
                        cell.classList.add('negative-change');
                        cell.innerHTML = `<b>&#9660; ${value}%</b>`;
                    } else {
                        cell.innerHTML = `<b>-</b>`;
                    }

                });
            });
        var physique = {{ data | tojson | safe }};
        // Fonction qui sera appelée lorsqu'un icône est cliqué
        function handleIconClick(event) {
            // Récupère l'ID de l'élément cliqué
            var iconId = event.target.id;
            // Affiche l'ID dans la console (ou utilisez-le comme vous le souhaitez)
            const [produit, place] = iconId.split('/', 2);
            var data = physique.filter(item => item.Produit === produit && item.Place === place);
            var dataEnd = data.map(function(item) {
                return [new Date(item['Date']).getTime(), item['Prix']];
            });
            Highcharts.stockChart('graphPhysique', {
                    chart: {
                        styledMode: true,
                        type: 'line'
                    },
                    title: {
                        text: produit + ' ' + place
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Prix'
                        }
                    },
                    series: [{
                        name: "Prix",
                        data: dataEnd,
                    }],

                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
        }

        // Sélectionne tous les éléments avec la classe 'fa-icon'
        var icons = document.querySelectorAll('.logoGraph');

        // Ajoute un gestionnaire d'événements de clic à chaque élément
        icons.forEach(function(icon) {
            icon.addEventListener('click', handleIconClick);
        });
    </script>
{% endblock %} 