<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AleexV6 Market Dashboard</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"/>
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.css') }}"/>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fa-solid fa-seedling"></i>
                </div>
                <div class="sidebar-brand-text mx-1">AleexV6 Dashboard</div>
            </a>

            <!-- Heading -->
            <div class="sidebar-heading">
                Marchés
            </div>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="physique">
                    <i class="fas fa-fw fa-money-bill-wave"></i>
                    <span>Physique</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="futures">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Analyse
            </div>

            <li class="nav-item">
                <a class="nav-link" href="basis">
                    <i class="fas fa-fw fa-money-bill-wave"></i>
                    <span>Base</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="spread">
                    <i class="far fa-chart-bar"></i>
                    <span>Spread</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <div class="sidebar-heading">
                Data
            </div>

            <li class="nav-item">
                <a class="nav-link" href="cot">
                    <i class="far fa-chart-bar"></i>
                    <span>COT</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="futures_curve">
                    <i class="far fa-chart-bar"></i>
                    <span>Futures Curve</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="production">
                    <i class="far fa-chart-bar"></i>
                    <span>Production</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="saisonnalite">
                    <i class="far fa-chart-bar"></i>
                    <span>Saisonnalité</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="developpement">
                    <i class="far fa-chart-bar"></i>
                    <span>Developpement cultures</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="condition">
                    <i class="far fa-chart-bar"></i>
                    <span>Conditions cultures</span></a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                </nav>
                <!-- End of Topbar -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0">Physique</h1>
                    </div>      

                    <!-- DataTales Example -->
                    {% for item in listProduct %}
                        {% set df = data[data['Produit'] == item] %}

                        {% set date = (df[df['Date'] < df.iloc[-1]['Date']])['Date'].max() %}
                        {% set previousDf = df[df['Date'] == date] %}

                        {% set df = df[df['Date'] == df.iloc[-1]['Date']] %}    

                        {% if item != 'Ble dur' %}
                            {% if item in listProductFutures %}                                       
                                {% set ticker = listProductFutures[item] %}
                            {% endif %}
                            {% if item in expi %}                                       
                                {% set expiration = expi[item] %}
                            {% endif %}

                            {% set dfFutures = datafutures[datafutures['Ticker'] == ticker] %}
                            {% set dfFutures = dfFutures[dfFutures['Expiration'] == expiration] %}
                        {% endif %}
                        <div class="card shadow mb-4">
                            <div class="card-header d-flex justify-content-between py-3">
                                <h6 class="m-0 font-weight-bold text-primary">{{ item.upper() }}</h6>
                                <h6 class="m-0 font-italic text-primary" style="font-size: 0.7rem;">Mis à jour le : {{ df['Date'].iloc[-1] }}, data terre-net.fr</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>PLACE</th>
                                                <th>PRIX</th>
                                                <th>MOIS FUTURES</th>
                                                <th>BASE</th>                                                
                                                <th>DAILY CHANGE %</th>                                                
                                                <th>GRAPHIQUE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for index, row in df.iterrows() %}
                                                {% if row['Place'] != 'Sud-Est Depart' and row['Place'] != 'Sud-Ouest Depart' %}
                                                    <tr>
                                                        <td>{{ row['Place'] }}</td>
                                                        <td>{{ row['Prix'] }}</td>
                                                        {% if item != 'Ble dur' %}
                                                            <td>{{ expiration }}</td>
                                                            <td>{{ (row['Prix'] - dfFutures.iloc[-1]['Prix']).round(2) }}</td>                                                            
                                                            {% if previousDf[previousDf['Place'] == row['Place']].empty %}
                                                                <td>-</td>
                                                            {% else %}
                                                            <td class="percentChange">
                                                                <i class="fa-solid fa-caret-down show-carret-down mr-2"></i>
                                                                <i class="fa-solid fa-caret-up show-carret-up mr-2"></i>
                                                                {{ (((row['Prix'] - previousDf[previousDf['Place'] == row['Place']]['Prix'].values[0]) / (previousDf[previousDf['Place'] == row['Place']]['Prix'].values[0]|abs)) * 100).round(2) }}%
                                                            </td>
                                                            {% endif %}
                                                        {% else %}
                                                            <td>N/C</td>
                                                            {% if previousDf[previousDf['Place'] == row['Place']].empty %}
                                                                <td>-</td>
                                                            {% else %}
                                                                <td>N/C</td>
                                                            {% endif %}
                                                                <td class="percentChange">
                                                                    <i class="fa-solid fa-caret-down show-carret-down mr-2"></i>
                                                                    <i class="fa-solid fa-caret-up show-carret-up mr-2"></i>
                                                                    {{ (((row['Prix'] - previousDf[previousDf['Place'] == row['Place']]['Prix'].values[0]) / (previousDf[previousDf['Place'] == row['Place']]['Prix'].values[0]|abs)) * 100).round(2) }}%
                                                                </td>
                                                            {% endif %}
                                                        <td><i class="fa-solid fa-chart-simple logoGraph" data-toggle="modal" data-target="#graphModal" style="cursor: pointer;" id="{{item}}/{{row['Place']}}"></i></td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="modal fade" id="graphModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <div id="graphPhysique" class="mb-4" style="height: 60vh;"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; AleexV6 Corporation 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>    
    <script src="https://code.highcharts.com/stock/modules/stock.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

    <script>
        var physique = JSON.parse('{{ dataGraph | tojson }}');
        // Fonction qui sera appelée lorsqu'un icône est cliqué
        function handleIconClick(event) {
            // Récupère l'ID de l'élément cliqué
            var iconId = event.target.id;
            // Affiche l'ID dans la console (ou utilisez-le comme vous le souhaitez)
            const [produit, place] = iconId.split('/', 2);
            var data = physique.filter(item => item.Produit === produit && item.Place === place);
            var dataEnd = data.map(function(item) {
                return [new Date(item['Date']).getTime(), item['Prix']];
            });
            console.log(dataEnd)
            Highcharts.stockChart('graphPhysique', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: produit + ' ' + place
                    },
                    xAxis: {
                        title: {
                            text: 'Date'
                        },
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: 'Prix'
                        }
                    },
                    series: [{
                        name: "Prix",
                        data: dataEnd,
                    }],

                    plotOptions: {
                        series: {
                            marker: {
                            enabled: false
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    }
                    });
        }

        // Sélectionne tous les éléments avec la classe 'fa-icon'
        var icons = document.querySelectorAll('.logoGraph');

        // Ajoute un gestionnaire d'événements de clic à chaque élément
        icons.forEach(function(icon) {
            icon.addEventListener('click', handleIconClick);
        });
    </script>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var valueElements = document.querySelectorAll('.percentChange');

            valueElements.forEach(function(element) {
                var value = parseFloat(element.textContent);
                var caretUp = element.querySelector('.fa-caret-up');
                var caretDown = element.querySelector('.fa-caret-down');

                if (value < 0) {
                    element.style.color = '#E53E3E';
                    caretUp.style.display = 'none';
                    caretDown.style.display = 'inline';
                } else {
                    element.style.color = '#38A169';
                    caretUp.style.display = 'inline';
                    caretDown.style.display = 'none';
                }
            });
        });
    </script>
    

</body>

</html>