{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>   
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0">Polymarket</h1>
    </div> 
    <div class="bid-section">
        <form autocomplete="off" class="form-inline mb-4 pt-4 pl-4">
            <div class="select-form-inline-responsive autocomplete">
                <label class="xsmall mr-2"><b>MARKET :</b></label>
                <input type="text" class="form-control custom-input" id="marketInput" placeholder="Type market...">
            </div>
        </form>
        <div id="noTokenId" class="text-theme-responsive pl-4"></div>
        <div id="myChartPolymarket" class="highcharts-chart-theme-responsive highcharts-light"></div>
    </div>
    <div class="datasource text-theme-responsive mb-3">
        Données
        <img class="datasource-img mr-1" src="{{ url_for('static', filename='img/polymarketLogo.png') }}"/>
    </div>
</div>


{% endblock %} 

{% block scripts %}
    {{ super() }}
    <script>
        $(document).ready(function() {
            let debounce;
            $('.form-control').on('keydown', function (e) { 
                clearTimeout(debounce)
                debounce = setTimeout(() => {
                        closeAllLists();
                        getAutoComplete();  
                }, 500);
                if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                }
            });
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        })

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != document.getElementById("marketInput")) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }

        async function getSelectedTokenPrice(token_id) {
            try {
                const endTime = Date.now();
                const fidelity = 1;
                const response = await fetch(`https://clob.polymarket.com/prices-history?market=${token_id}&startTs=""&endTs=${endTime}&fidelity=${fidelity}`);
                const data = await response.json();
                return data['history'];
            } catch (error) {
                throw error;
            }
        }

        function showHighcharts(priceData){
            const xData = priceData.map(d => d.t * 1000);
            const yData = priceData.map(d => d.p);
            const chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'myChartPolymarket',
                    styledMode: true,
                    type: 'line'
                },
                title: {
                    text: document.getElementById("marketInput").value
                },
                xAxis: {
                    title: {
                        text: 'Date'
                    },
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: '% Chance'
                    }
                },
                series: [{
                    name: 'Price',
                    data: xData.map((_, i) => [xData[i], yData[i]])
                }],
                credits: {
                    enabled: false
                },
                exporting: {
                    // Enable the export menu
                    enabled: true,
                }
            });
        }

        function getAutoComplete() {
            const query = $('.form-control').val();
            fetch(`http://127.0.0.1:5000/polymarket/search?find=${encodeURIComponent(query.trim())}`)
            .then((resp) => resp.json())
            .then((data) => {
                    a = document.createElement("DIV");
                    a.setAttribute("id", "autocompleteId");
                    a.setAttribute("class", "autocomplete-items");
                    /*append the DIV element as a child of the autocomplete container:*/
                    document.getElementById("marketInput").parentNode.appendChild(a);
                    if (data.length === 0) {
                        b = document.createElement("DIV");
                        b.innerHTML += 'No data found';
                        b.addEventListener("click", function(e) {
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                    else {
                        for (let i = 0; i < data.length; i++) {
                            b = document.createElement("DIV");
                            b.innerHTML += data[i][0];
                            /*insert a input field that will hold the current array item's value:*/
                            b.innerHTML += "<input type='hidden' id='" + data[i][1] + "' value='" + data[i][0] + "'>";
                            b.addEventListener("click", function(e) {
                                /*insert the value for the autocomplete text field:*/
                                document.getElementById("marketInput").value = this.getElementsByTagName("input")[0].value;
                                if (this.getElementsByTagName("input")[0].id !== "") {
                                    document.getElementById("noTokenId").innerHTML = ""
                                    getSelectedTokenPrice(this.getElementsByTagName("input")[0].id)
                                    .then(history => {
                                        showHighcharts(history);
                                    })
                                }
                                else{
                                    document.getElementById("noTokenId").innerHTML = "No tokens found for this market"
                                }
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                    })
        }
    </script>
{% endblock %}