{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>   
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0">Polymarket</h1>
    </div> 
    <div class="bid-section" style="position: relative; height: 505px;">
        <form class="form-inline mb-2 pt-4 pl-4">
            <div class="select-form-inline-responsive">
                <label class="xsmall mr-2"><b>MARKET :</b></label>
                <input type="text" class="custom-input mr-4" id="marketInput" placeholder="Type market...">        
                <label class="xsmall mr-2"><b>TIMEFRAME :</b></label>
                <select name="timeframe" class="custom-select mr-4" id="timeframeSelector">
                    <option value="1">1m</option>
                    <option value="15">15m</option>
                    <option value="60">1h</option>
                    <option value="1440" selected>1d</option>
                </select>
                <label class="xsmall mr-2"><b>SHOW CLOSED :</b></label>
                <input type="checkbox" class="mr-4" id="showClosed">        
            </div>
        </form>
        <div class="autocomplete">
            <div id="autocompleteResult"></div>
        </div>
        <div id="noTokenId" class="text-theme-responsive pl-4"></div>
        <div id="myChartPolymarket" class="highcharts-chart-theme-responsive highcharts-light"></div>
    </div>
    <div class="datasource text-theme-responsive mb-3">
        Données
        <img class="datasource-img mr-1" src="{{ url_for('static', filename='img/polymarketLogo.png') }}"/>
    </div>
</div>


{% endblock %} 

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/polymarket.js') }}"></script>
{% endblock %}