{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour </div>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0">Collecte, Stocks</h1>
    </div>   
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">EBM</h6>
        </div>
        <div class="card-body">
            <div id="production_ebm" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">EMA</h6>
        </div>
        <div class="card-body">
            <div id="production_ema" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between py-3">
            <h6 class="m-0 text-theme-responsive font-weight-bold">ECO</h6>
        </div>
        <div class="card-body">
            <div id="production_eco" class="highcharts-chart-theme-responsive mb-4" style="height: 60vh;"></div>
        </div>
    </div>    
    <div class="datasource text-theme-responsive mb-3">
        Données journalières
        <img class="datasource-img ml-3" src="{{ url_for('static', filename='img/franceagrimerLogo.png') }}"/>
    </div>
</div>
{% endblock %}      

{% block scripts %}
    {{ super() }} 
    <script>
        var prodEBM = JSON.parse('{{ dataEBM | tojson }}');
        var prodEMA = JSON.parse('{{ dataEMA | tojson }}');
        var prodECO = JSON.parse('{{ dataECO | tojson }}');

        var collecteEBM = prodEBM.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_COLLECTE']];
        });
        var stocksEBM = prodEBM.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_STOCKS']];
        });

        var collecteEMA = prodEMA.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_COLLECTE']];
        });
        var stocksEMA = prodEMA.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_STOCKS']];
        });

        var collecteECO = prodECO.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_COLLECTE']];
        });
        var stocksECO = prodECO.map(function(item) {
            return [new Date(item['Date']).getTime(), item['TOTAL_STOCKS']];
        });

        Highcharts.chart('production_ebm', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Collecte (production commercialisée) + Stocks'
        },
        xAxis: {
            title: {
                text: 'Date'
            },
            type : 'datetime'
        },
        yAxis: {
            title: {
                text: 'Tonnes'
            }
        },
        series: [{
            name: 'Collecte',
            data : collecteEBM
        }, {
            name: 'Stocks',
            data : stocksEBM
        }],
        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('production_ema', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Collecte (production commercialisée) + Stocks'
        },
        xAxis: {
            title: {
                text: 'Date'
            },
            type : 'datetime'
        },
        yAxis: {
            title: {
                text: 'Tonnes'
            }
        },
        series: [{
            name: 'Collecte',
            data : collecteEMA
        }, {
            name: 'Stocks',
            data : stocksEMA
        }],
        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

        Highcharts.chart('production_eco', {
        chart: {
            styledMode: true,
            type: 'line'
        },
        title: {
            text: 'Collecte (production commercialisée) + Stocks'
        },
        xAxis: {
            title: {
                text: 'Date'
            },
            type : 'datetime'
        },
        yAxis: {
            title: {
                text: 'Tonnes'
            }
        },
        series: [{
            name: 'Collecte',
            data : collecteECO
        }, {
            name: 'Stocks',
            data : stocksECO
        }],
        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });

    </script>
{% endblock %}