{% extends "nav.html" %}

{% block content %} 
<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">EBM</h6>
    </div>
    <div class="card-body">
        <div id="seasonnalite_ebm" class="mb-4" style="height: 60vh;"></div>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-header d-flex justify-content-between py-3">
        <h6 class="m-0 font-weight-bold text-success">EMA</h6>
    </div>
    <div class="card-body">
        <div id="seasonnalite_ema" class="mb-4" style="height: 60vh;"></div>
    </div>
</div>   
{% endblock %}               

{% block scripts %}
    {{ super() }}
    <script>
        var dataBle = JSON.parse('{{ dfBle | tojson }}');
        const categoriesBle = Object.keys(dataBle).map(Number);
        const dataBleT = Object.values(dataBle);

        Highcharts.chart('seasonnalite_ebm', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Seasonnalite EBM Continuous (2008-2023)'
        },
        xAxis: {
            categories: categoriesBle,
            title: {
                text: 'Business day of year'
            }
        },
        yAxis: {
            title: {
                text: 'Cumulative % change'
            }
        },
        series: [{
            name: "Median Cumulative Change %",
            data: dataBleT,
        }],
        plotOptions: {
            series: {
                marker: {
                enabled: false
                }
            }
        },

        credits: {
            enabled: false
        }
        });
    </script>
{% endblock %}