{% extends "nav.html" %}
{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>   
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0">Saisonnalité</h1>
    </div> 
    {% for item in data %}
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold">{{ item['Ticker'] }}</h6>
            </div>
            <div class="card-body">
                <div id="saisonnalite_{{ item['Ticker'] }}" class="mb-4" style="height: 60vh;"></div>
            </div>
        </div>
    {% endfor %}
    <div class="datasource mb-3">
        Données journalières
        <img class="datasource-img" src="{{ url_for('static', filename='img/euronextLogo.png') }}"/>
    </div>
</div>
{% endblock %}               

{% block scripts %}
    {{ super() }}
    <script>
        var data = JSON.parse('{{ data | tojson }}');
        var dayofyear = JSON.parse('{{ dayofyear | tojson }}');
        
        data.forEach((item) => {
            var categories = Object.keys(item.Cumulative);
            var values = Object.values(item.Cumulative);

            Highcharts.chart(`saisonnalite_${item.Ticker}`, {
            chart: {
                type: 'line'
            },
            title: {
                text: `Saisonnalité ${item.Ticker} Continuous (2004-2023)`
            },
            xAxis: {
                categories: categories,
                title: {
                    text: 'Business day of year'
                },
                plotLines: [{ // Vertical line for today
                color: '#FF0000', // Red
                width: 2,
                value: dayofyear, 
            }]
            },
            yAxis: {
                title: {
                    text: 'Cumulative % change'
                }
            },
            series: [{
                name: "Median Cumulative Change %",
                data: values,
            },
            {
                color: '#FF0000',
                name: 'Today',
                marker: {
                    enabled: false
                }
            }
            ],
            plotOptions: {
                series: {
                    marker: {
                    enabled: false
                    }
                }
            },

            credits: {
                enabled: false
            }
            });
        });
    </script>
{% endblock %}