{% extends "nav.html" %}

{% block content %} 
<div class="update-div">Dernière mise à jour {{ lastDate }}</div>   
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 text-theme-responsive mb-0">Spread</h1>
    </div> 
    <div class="bid-section">
        <form class="form-inline mb-4 pt-4 pl-4">
            <div class="select-form-inline-responsive">
                <label class="xsmall mr-2"><b>TYPE :</b></label>
                <select name="spread" class="custom-select mr-4" id="spreadSelectorElement">
                    <option value='SP'>Calendar Spread</option>
                    <option value='BF'>Butterfly Spread</option>
                    <!--<option value='OT'>Other</option>-->
                </select>
            </div>
            <!-- <input type="text" style="display: none;" class="form-control form-control-user mr-4" id="otherSpreadText" placeholder="Spread string"> -->
            <div class="select-form-inline-responsive">
                <label class="xsmall mr-2" id="productLabel"><b>TICKER :</b></label>
                <select name="produit" class="custom-select mr-4" id="productSelector">
                    {% for item in spreadSelector %}
                        <option value="{{ item['Ticker'] }}" >{{ item['Ticker'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-form-inline-responsive">
                <label class="xsmall mr-2" id="leg1Label"><b>LEG 1 :</b></label>
                <select name="expiration" class="custom-select mr-4" id="spreadLeg1Selector">                            
                    {% for expi in spreadSelector[0]['Expi'] %}
                        <option value="{{ spreadSelector[0]['Ticker'] }}_{{ expi }}">{{ spreadSelector[0]['Ticker'] }} {{ expi }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-form-inline-responsive">
                <label class="xsmall mr-2" id="leg2Label"><b>LEG 2 :</b></label>
                <select name="expiration" class="custom-select mr-4" id="spreadLeg2Selector">                   
                    {% for expi in spreadSelector[0]['Expi'] %}
                        {% if loop.index0 != 1 %}
                            <option value="{{ spreadSelector[0]['Ticker'] }}_{{ expi }}">{{ spreadSelector[0]['Ticker'] }} {{ expi }}</option>
                        {% else %}
                            <option value="{{ spreadSelector[0]['Ticker'] }}_{{ expi }}" selected>{{ spreadSelector[0]['Ticker'] }} {{ expi }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="select-form-inline-responsive">
                <label style="display: none;" class="xsmall mr-2" id="leg3Label"><b>LEG 3 :</b></label>
                <select style="display: none;" name="expiration" class="custom-select mr-4 legDisplay" id="spreadLeg3Selector">                            
                    {% for expi in spreadSelector[0]['Expi'] %}
                        <option value="{{ spreadSelector[0]['Ticker'] }}_{{ expi }}">{{ spreadSelector[0]['Ticker'] }} {{ expi }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-form-inline-responsive">
                <button class="btn btn-sm btn-success shadow-sm mr-4" type="button" onclick="Spread()"><b>CALCULER</b></button>
            </div>
            <!-- <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Pour les autres spreads, la chaine de charactère doit être du type : NBCONTRATS_PRODUIT_EXPIRATION. Par exemple : 1_EBM_MAY24 - 1_EMA_MAY25. Pour connaitre les produits et expiration disponibles, rendez-vous sur le Calendar Spread."></i> -->

        </form> 
        <div id="myChartSpread" class="highcharts-chart-theme-responsive highcharts-light" style="height: 60vh;"></div>
    </div>

    <div class="bid-section mt-04">
        <div class="header">
            EBM / Milling Wheat
        </div>
        <div class="row">
            <div class="col-lg-6">  
                <div id="spreadKU" class="highcharts-chart-theme-responsive highcharts-light" style="height: 60vh;"></div>
            </div>
            <div class="col-lg-6">  
                <div id="spreadUZ" class="highcharts-chart-theme-responsive highcharts-light" style="height: 60vh;"></div>
            </div>
        </div>
    </div>

    <div class="datasource text-theme-responsive mb-3">
        Données journalières
        <img class="datasource-img" src="{{ url_for('static', filename='img/euronextLogo.png') }}"/>
    </div>
</div>
{% endblock %} 

{% block scripts %}
    {{ super() }} 
    <script>
        const firstData = JSON.parse({{ data | tojson | safe }})
        const KUdata = JSON.parse('{{ spreadKU | tojson }}');
        const UZdata = JSON.parse('{{ spreadUZ | tojson }}');
        const fullSeriesKU = []
        const fullSeriesUZ = []

        KUdata.forEach((item) => {
            const seriesKU = {
                name: item.spreadYear,
                data: Object.keys(item.spreadData.Date).map(key => [item.spreadData.Date[key], item.spreadData.Spread[key]])
            };
            fullSeriesKU.push(seriesKU)
            
        });
        UZdata.forEach((item) => {
            const seriesUZ = {
                name: item.spreadYear,
                data: Object.keys(item.spreadData.Date).map(key => [item.spreadData.Date[key], item.spreadData.Spread[key]])
            };
            fullSeriesUZ.push(seriesUZ)
            
        });
        Highcharts.stockChart('spreadKU', {
            chart: {
                styledMode: true,
                type: 'line'
            },
            title: {
                text: 'KU Spread'
            },
            xAxis: {
                title: {
                    text: 'Day'
                },
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Spread'
                }
            },
            series: fullSeriesKU,
            credits: {
                enabled: false
            },
            legend: {
                enabled: true
            }
        });

        Highcharts.stockChart('spreadUZ', {
            chart: {
                styledMode: true,
                type: 'line'
            },
            title: {
                text: 'UZ Spread'
            },
            xAxis: {
                title: {
                    text: 'Day'
                },
                type: 'datetime'
            },
            yAxis: {
                title: {
                    text: 'Spread'
                }
            },
            series: fullSeriesUZ,
            credits: {
                enabled: false
            },
            legend: {
                enabled: true
            }
        });

        var title = 'Spread ' + spreadLeg1Selector.value.replace('_', ' ') + ' - ' + spreadLeg2Selector.value.split('_')[1];
        document.addEventListener("DOMContentLoaded", function() {
            Highcharts.stockChart('myChartSpread', {
                chart: {
                    styledMode: true,
                    type: 'line'
                },
                title: {
                    text: title
                },
                xAxis: {
                    title: {
                        text: 'Day'
                    },
                    type: 'datetime'
                },
                yAxis: {
                    title: {
                        text: 'Spread'
                    }
                },
                series: [{
                    name: 'Spread',
                    data: firstData
                }],
                credits: {
                    enabled: false
                }
            });
        });

        // $('[data-toggle="tooltip"]').tooltip();
    </script>
    <script>
        function Spread() {
            var spreadLeg1 = document.getElementById('spreadLeg1Selector')
            var spreadLeg2 = document.getElementById('spreadLeg2Selector')
            var spreadLeg3 = document.getElementById('spreadLeg3Selector')
            var spreadType = document.getElementById('spreadSelectorElement')
            // var otherString = document.getElementById("otherSpreadText");
            if (spreadType.value == "SP"){
                var title = 'Spread ' + spreadLeg1Selector.value.replace('_', ' ') + ' - ' + spreadLeg2Selector.value.split('_')[1];
            } 
            else if (spreadType.value == "BF"){
                var title = 'Spread ' + spreadLeg1Selector.value.replace('_', ' ') + ' - ' + spreadLeg2Selector.value.split('_')[1] + ' - ' + spreadLeg3Selector.value.split('_')[1];
            }
            $.ajax({
                type: "POST",
                url: "/process_spread",
                data: JSON.stringify({"Type" : spreadType.value, "Leg1": spreadLeg1.value, "Leg2": spreadLeg2.value, "Leg3": spreadLeg3.value}),//, 'OtherSpread': otherString.value}),
                contentType: "application/json",
                dataType: 'json',
                success: function(result) {
                    if (result['response'] == 'error'){
                        let chartDiv = document.getElementById('myChartSpread');
                        chartDiv.innerHTML = '<h3>'+result['message']+'</h3>';
                    }
                    else{
                        Highcharts.stockChart('myChartSpread', {
                            chart: {
                                styledMode: true,
                                type: 'line'
                            },
                            title: {
                                text: title
                            },
                            xAxis: {
                                title: {
                                    text: 'Day'
                                },
                                type: 'datetime'
                            },
                            yAxis: {
                                title: {
                                    text: 'Spread'
                                }
                            },
                            series: [{
                                name: 'Spread',
                                data: result,
                                
                            }],
                            credits: {
                                enabled: false
                            }
                        });
                    }
                }
            });
        }
    </script>

    <script>
        // Get the select element
        var selectElement = document.getElementById("productSelector");
        var leg1 = document.getElementById("spreadLeg1Selector");
        var leg2 = document.getElementById("spreadLeg2Selector");
        var leg3 = document.getElementById("spreadLeg3Selector");
        let data = JSON.parse('{{ spreadSelector | tojson }}');

        var maisExpi = data
            .filter(item => item.Ticker === 'EMA')
            .map(item => item.Expi)[0];
        var bleExpi = data
            .filter(item => item.Ticker === 'EBM')
            .map(item => item.Expi)[0];
        var colzaExpi = data
            .filter(item => item.Ticker === 'ECO')
            .map(item => item.Expi)[0];

        selectElement.addEventListener("change", function() {
            var selectedValue = selectElement.value;
            leg1.innerHTML = "";
            leg2.innerHTML = "";
            leg3.innerHTML = "";
            switch(selectedValue) {
                case "EMA":
                    var EMAList = maisExpi.map(function(str) {
                        return 'EMA ' + str;
                    });
                    addOptions(EMAList, leg1);
                    addOptions(EMAList, leg2);
                    addOptions(EMAList, leg3);
                    break;
                case "EBM":
                    var EBMList = bleExpi.map(function(str) {
                        return 'EBM ' + str;
                    });
                    addOptions(EBMList, leg1);
                    addOptions(EBMList, leg2);
                    addOptions(EBMList, leg3);
                    break;
                case "ECO":
                    var ECOList = colzaExpi.map(function(str) {
                        return 'ECO ' + str;
                    });
                    addOptions(ECOList, leg1);
                    addOptions(ECOList, leg2);
                    addOptions(ECOList, leg3);
                    break;
            }
        });
        function addOptions(options, outputDoc) {
            options.forEach(function(optionText) {
                var option = document.createElement("option");
                option.value = optionText.replace(/\s/g, "_");
                option.text = optionText;
                outputDoc.add(option);
            });
        }
    </script> 
    <script>
        // Get the select element
        var spreadElement = document.getElementById("spreadSelectorElement");
        spreadElement.addEventListener("change", function() {
            var spreadValue = spreadElement.value;
            switch(spreadValue) {
                case "SP":
                    document.getElementById("spreadLeg3Selector").style.display = 'none';
                    document.getElementById("leg3Label").style.display = 'none';
                    //document.getElementById("otherSpreadText").style.display = 'none';
                    document.getElementById("productLabel").style.display = 'block';
                    document.getElementById("productSelector").style.display = 'block';
                    document.getElementById("spreadLeg1Selector").style.display = 'block';
                    document.getElementById("leg1Label").style.display = 'block';
                    document.getElementById("spreadLeg2Selector").style.display = 'block';
                    document.getElementById("leg2Label").style.display = 'block';
                    break;

                case "BF":
                    document.getElementById("productLabel").style.display = 'block';
                    document.getElementById("productSelector").style.display = 'block';
                    document.getElementById("spreadLeg1Selector").style.display = 'block';
                    document.getElementById("leg1Label").style.display = 'block';
                    document.getElementById("spreadLeg2Selector").style.display = 'block';
                    document.getElementById("leg2Label").style.display = 'block';
                    document.getElementById("spreadLeg3Selector").style.display = 'block';
                    document.getElementById("leg3Label").style.display = 'block';
                    //document.getElementById("otherSpreadText").style.display = 'none';
                    break;
                
                case "CF":
                    document.getElementById("productSelector").style.display = 'block';
                    document.getElementById("spreadLeg1Selector").style.display = 'block';
                    document.getElementById("leg1Label").style.display = 'block';
                    document.getElementById("spreadLeg2Selector").style.display = 'block';
                    document.getElementById("leg2Label").style.display = 'block';
                    document.getElementById("spreadLeg3Selector").style.display = 'block';
                    document.getElementById("leg3Label").style.display = 'block';
                    //document.getElementById("otherSpreadText").style.display = 'none';
                    document.getElementById("productLabel").style.display = 'block';
                    break;
                
                // case "OT":
                //     document.getElementById("spreadLeg1Selector").style.display = 'none';
                //     document.getElementById("leg1Label").style.display = 'none';
                //     document.getElementById("spreadLeg2Selector").style.display = 'none';
                //     document.getElementById("leg2Label").style.display = 'none';
                //     document.getElementById("spreadLeg3Selector").style.display = 'none';
                //     document.getElementById("leg3Label").style.display = 'none';
                //     document.getElementById("productSelector").style.display = 'none';
                //     document.getElementById("otherSpreadText").style.display = 'block';
                //     document.getElementById("productLabel").style.display = 'none';
                //     break;

            }
        });
    </script>
{% endblock %} 