{% extends "nav.html" %}

{% block content %}
<div class="update-div">Dernière mise à jour</div>
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h2 mb-0 mr-4">Surface, Rendement, Production</h1>
        <div>
            <label class="xsmall mr-2"><b>ANNEE :</b></label>
            <select name="year" class="custom-select" id="year" style="width: auto;">
                {% for year in years %}
                    <option value='{{ year }}' >{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div id="master">
        {% for item in img %}
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between py-3">
                    <h6 class="m-0 font-weight-bold">{{ item['Produit'] }}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% for str in item['imgs'] %}
                            <div class="col-lg-4">{{ str | safe }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>   
        {% endfor %}
    </div>
    
    <div class="datasource mb-3">
        Données
        <img class="datasource-img ml-3" src="{{ url_for('static', filename='img/franceagrimerLogo.png') }}"/>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('year').addEventListener('change', function() {
            var selectedValue = this.value;
            if (selectedValue) {
                $.ajax({
                    type: "POST",
                    url: "/surfrendprod",
                    data: JSON.stringify({"Date" : selectedValue}),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        function createProductCard(item) {
                            return `
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between py-3">
                                        <h6 class="m-0 font-weight-bold text-success">${item.Produit}</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            ${item.imgs.map(img => `
                                                <div class="col-lg-4">${img}</div>
                                            `).join('')}
                                        </div>
                                    </div>
                                </div>
                            `;
                        }
                        const cardsHTML = response.map(createProductCard).join('');
                        document.getElementById('master').innerHTML = cardsHTML;
                        
                    },
                    error: function(error) {
                        console.error("Error updating maps:", error);
                    }
                });
            }
        });
    </script>
{% endblock %}