{% extends "nav.html" %}

{% block content %}
<div class="d-sm-flex mb-4">
    <h1 class="h3 mb-0 text-gray-800 mr-4">Surface, Rendement, Production</h1>
    <select name="year" class="custom-select" id="year" style="width: 10%;">
        {% for year in years %}
            <option value='{{ year }}' >{{ year }}</option>
        {% endfor %}
    </select>
</div>  
<div id= "master">
    {% for item in img %}
        <div class="card shadow mb-4">
            <div class="card-header d-flex justify-content-between py-3">
                <h6 class="m-0 font-weight-bold text-success">{{ item['Produit'] }}</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    {% for str in item['imgs'] %}
                        <div class="col-lg-4">{{ str | safe }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>   
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.getElementById('year').addEventListener('change', function() {
            var selectedValue = this.value;
            if (selectedValue) {
                $.ajax({
                    type: "POST",
                    url: "/surfrendprod",
                    data: JSON.stringify({"Date" : selectedValue}),
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function(response) {
                        function createProductCard(item) {
                            return `
                                <div class="card shadow mb-4">
                                    <div class="card-header d-flex justify-content-between py-3">
                                        <h6 class="m-0 font-weight-bold text-success">${item.Produit}</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            ${item.imgs.map(img => `
                                                <div class="col-lg-4">${img}</div>
                                            `).join('')}
                                        </div>
                                    </div>
                                </div>
                            `;
                        }
                        const cardsHTML = response.map(createProductCard).join('');
                        document.getElementById('master').innerHTML = cardsHTML;
                        
                    },
                    error: function(error) {
                        console.error("Error updating maps:", error);
                    }
                });
            }
        });
    </script>
{% endblock %}